*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-use{
    font-family: "Poppins", sans-serif;
}
.fixed-size{
    max-width: 1160px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
}
nav input{
    width: 508px;
    height: 48px;
    background: rgb(241, 241, 241);
    border-radius:66px;
    border: none;

}
nav ::placeholder{
    font-size: 16px;
    font-weight: 500;
    padding-left: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
   
}
.search-button{
    position: relative;
}
nav i{
    position: absolute;
    top: 17px;
    right: 20px;
   font-size: 20px;
   color: rgb(186, 186, 186);
   
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
}
.Home-row ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}
.Home-row ul li a{
    font-family: "Poppins", sans-serif;
    color: rgb(112, 112, 112);
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}
.Home-row{
   margin-top: -20px;
}